<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Price Tracker</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/htmx.org@1.9.4"
        integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>

<body class="bg-gray-100">
<div class="container mx-auto p-8">
    <h1 class="text-3xl font-semibold mb-4">Track new product</h1>
    <form class="mb-6" hx-post="/products" hx-target="#response" hx-ext="json-enc">
        <label class="block mb-2">
            Name:
            <input type="text" name="name"
                   class="block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
        </label>
        <input type="submit" value="Submit" class="px-4 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600">
    </form>
    <div id="response"></div>

    <div id="product-prices">
    </div>

    <h1 class="text-3xl font-semibold my-8">Products</h1>
    <table class="w-full table-auto border-collapse">
        <thead>
        <tr>
            <th class="px-4 py-2 bg-gray-200 text-left">ID</th>
            <th class="px-4 py-2 bg-gray-200 text-left">Name</th>
            <th class="px-4 py-2 bg-gray-200 text-left">Is tracked?</th>
            <th class="px-4 py-2 bg-gray-200 text-left">Created at</th>
            <th class="px-4 py-2 bg-gray-200 text-left">Updated at</th>
            <th class="px-4 py-2 bg-gray-200 text-left">Actions</th>
        </tr>
        </thead>
        <tbody>
        {{range .products}}
        <tr class="border-t border-gray-200">
            <td class="px-4 py-2">{{.ID}}</td>
            <td class="px-4 py-2">{{.Name}}</td>
            <td class="px-4 py-2">{{.IsTracked}}</td>
            <td class="px-4 py-2">{{.CreatedAt.Format "2006-01-02 15:04:05" }}</td>
            <td class="px-4 py-2">{{.UpdatedAt.Format "2006-01-02 15:04:05" }}</td>
            <td class="px-4 py-3">
                <button hx-get="/products/{{.ID}}" hx-target="#product-prices" hx-swap="innerHTML scroll:bottom" hx-indicator="#spinner"
                        class="px-4 py-2 bg-indigo-500 text-white text-sm rounded-md hover:bg-indigo-600"
                        data-product-id="{{.ID}}">
                    Show prices
                    <div role="status" id="spinner" class="htmx-indicator">
                        <svg aria-hidden="true" role="status" class="inline w-4 h-4 mr-3 text-white animate-spin"
                             viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                  fill="#E5E7EB"/>
                            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                  fill="currentColor"/>
                        </svg>
                    </div>

                </button>
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>

</div>
</body>
</html>
