<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Price Tracker</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>
<script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
<body>

<h1>Track new product</h1>
<form hx-post="/products" hx-target="#response" hx-ext="json-enc">
    <label>Name: <input type="text" name="name"></label>
    <input type="submit" value="Submit">
</form>
<div id="response"></div>

<h1>Products</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Is tracked?</th>
        <th>Created at</th>
        <th>Updated at</th>
    </tr>
    {{range .products}}
    <tr>
        <td>{{.ID}}</td>
        <td>{{.Name}}</td>
        <td>{{.IsTracked}}</td>
        <td>{{.CreatedAt.Format "2006-01-02 15:04:05" }}</td>
        <td>{{.UpdatedAt.Format "2006-01-02 15:04:05" }}</td>
    </tr>
    {{end}}
</table>

<h1>Product Prices List</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Fetched at</th>
    </tr>
    {{range .product_prices}}
    <tr>
        <td>{{.Name}}</td>
        <td>{{.Price | IntToFloat}} €</td>
        <td>{{.FetchedAt.Format "2006-01-02 15:04:05" }}</td>
    </tr>
    {{end}}
</table>


</body>
</html>