<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Price Tracker</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>

<body class="bg-gray-100">
<h1 class="text-3xl font-semibold my-8">Product Prices List</h1>
<table class="w-full table-auto border-collapse">
    <thead>
    <tr>
        <th class="px-4 py-2 bg-gray-200 text-left">Price</th>
        <th class="px-4 py-2 bg-gray-200 text-left">Fetched at</th>
    </tr>
    </thead>
    <tbody>
    {{range .prices}}
    <tr class="border-t border-gray-200">
        <td class="px-4 py-2">{{.Price | IntToFloat}} €</td>
        <td class="px-4 py-2">{{.FetchedAt.Format "2006-01-02 15:04:05" }}</td>
    </tr>
    {{end}}
    </tbody>
</table>


</body>
</html>