package layout

templ Base() {
    <html>
        @head()
        <body>
            {children...}
        </body>
    </html>
}

templ head() {
    <head>
        <link rel="stylesheet" href="/views/css/tailwind.css" />
        <script src="/views/js/htmx.min.js"></script>
    </head>
}